/*created by szatpig on 2017/9/27*/
//基色
$color-main: #e76b5f;
$color-green:#13CE66;
$color-yellow:#F7BA2A;
$color-blue:#20A0FF;




html,body,#app{
  height: 100%;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.wid_80{
  width:85%;
}

.pb_30{
  padding-bottom: 30px;
}

.font-18{
  font-size: 18px !important;
}

.border_ra_4{
  border-radius: 4px !important;
  cursor: pointer;
}

.ml-10{
  margin-left: 10px;
}

.txt-green{
  color: $color-green;
  font-size: 12px;
}
.text-red{
  color:$color-main;
  font-size: 12px;
}

.t-gray{
  color:#999;
  font-size: 13px;
}
.text-gray{
  color:$color-blue;
  font-size: 13px;
}



.clearfix:after{
  /* 必须设置一个空的congtent,否则不起作用  */
  content: "";
  /* 转换成块元素  */
  display: block;
  clear: both;
}


//按钮颜色
.el-button--gray{
  background-color: #e4e8f1;
  border-color: #e4e8f1;
  color: #48576a;
  &:hover{
    background-color: #d7dbe2;
    border-color: #d7dbe2;
    color: #48576a;
  }
}

.el-button--pink{
  background-color: #e76b5f;
  border-color: #e76b5f;
  color: #fff;
  &:hover,&:active,&:focus{
    background-color: #fc6c6c;
    border-color: #fc6c6c;
    color: #fff;
  }
}

.data-refresh{
  position: absolute;
  top:8px;
  right:4px;
  @extend .icon-common;
  color: $color-main;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  display: block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  font-size: 18px !important;
  text-align: center;
}


[class^="el-icon-my"], [class*=" el-icon-my"] {
  font-family: 'iconfont'  !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

.icon-common{
  font-family: 'iconfont' !important;
  font-style:normal;
  font-weight:bold;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}


.icon-loginout{
  font-family: 'iconfont' !important;
  font-style:normal;
  font-weight:bold;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.common-container{
  background-color: #fff;
  height: 100%;
}

.common-link{
  font-size: 13px;
  font-family: inherit;
  color: $color-green;
  margin-left: 15px;
  &:hover{
    text-decoration: underline;
  }
}


.home-container{
  height: 100%;
}

.el-icon-my-market:before{
   content: '\e6bd';
}

.el-icon-my-data:before{
  content: '\e6ab';
}

.el-icon-my-privilege:before{
  content: '\e668';
}

.el-icon-my-black:before{
  content: '\e674';
}

.el-icon-my-message:before{
  content: '\e60e';
}

.el-icon-my-statics:before{
  content: '\e67f';
}

.el-icon-my-assist:before{
  content: '\e7b5';
}

.el-icon-my-task:before{
  content: '\e60f';
}

.el-icon-my-sys:before{
  content: '\e638';
}
.el-icon-my-model:before{
  content: '\e616';
}
.el-icon-my-chanzhiluru:before{
  content: '\e62b';
}
.content-container{
  background-color: #f0f0f0;
  padding-left: 180px;
  position: relative;
  transition: all .3s cubic-bezier(.55,0,.1,1);
  height: calc(100% - 50px);
  &.hidenav{
    padding-left: 64px;
  }
  .menu-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background-color: #212528;
    transition: all .3s cubic-bezier(.55,0,.1,1);
    .el-menu--dark{
      background-color: inherit;
      width: 180px;
    }
    .el-menu--collapse{
      width: 64px !important;
    }
    .el-menu-item-group__title{
      padding: 0 !important;
    }
    .el-submenu .el-menu-item {
       min-width: 100%;
    }
    .el-scrollbar{
      height: 100%;
      .el-menu__wrap{
        height: 100%;
        overflow-x: hidden;
      }
    }

  }
  .el-content{
    height: 100%;
    .el-col{
      height: 100%;
    }
    .menu-left{
      height: 100%;
      background-color: #324157;
      overflow: hidden;
    }
  }
  .content-right{
    height: 100%;
    .title-container{
      height: 45px;
      line-height: 45px;
      background-color: #fff;
      padding-left: 20px;
      .collapse-icon{
        font-family: 'iconfont' !important;
        font-style:normal;
        font-weight:bold;
        font-size: 20px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
      }
    }
    .content-component{
      height: calc( 100% - 85px);
      padding: 20px;
    }
  }
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active {
  color: #e76b5f;
}
.el-menu--dark .el-submenu .el-menu {
  background-color: #2a2d30;
}
.el-menu--dark .el-submenu .el-menu .el-menu-item:hover {
  background-color: rgba(0,0,0,0.3);
}
.el-menu--dark .el-submenu__title:hover,.el-menu--dark .el-menu-item:hover{
  background-color: transparent;
  color: #e76b5f;
}
.el-transfer-panel{
  width: 240px;
}

//查询样式
.search-container{
  text-align: right;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  .el-input__inner:focus {
    outline: 0;
    border-color: #e76b5f;
  }
  .search-key{
    width:240px;
    margin-right: 12px;
  }
  .search-btn{
    background-color: #e76b5f;
    border: none;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
  }
  .search-add{
    padding: 10px 25px;
    border: none;
  }
}
.search-table{
  padding: 20px;
  height: calc(100% - 110px);
}
.search-page{
  text-align: right;
  padding-bottom: 20px;
  padding-right: 20px;
}

.cell-arrow{
  margin: auto 15px auto 15px;
  padding-bottom: 9px;
  @extend .icon-common;
  font-size: 28px;
  color: #abacad;
}
.clearfix{
  clear: both;
  content: "";
  display: block;

}

.action-icon-loading {
  @extend .icon-common;
}

.apiClass{
  width: 370px;
  .el-notification__content{
    text-align: left;
  }
}

.el-notification__content{
  word-wrap:break-word !important;
}
.clearfix{
  .task-nav-buttun{
    display: block;
    border-radius: 0;
    margin-left: 0;
    margin-right:0;
    float: left;
    border: none;
  }
}
