/*created by szatpig on 2017/10/31*/
.source-data-container{
  @extend .common-container;
  .text-main{
    color: $color-blue;
    font-size: 13px;
    cursor: pointer;
  }
  .el-dialog__body{
    padding-bottom: 0;
  }

}
